<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="项目名字">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="金额">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="描述"></textarea>
  </mat-form-field>


  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="分享返利">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="分享减免">
    </mat-form-field></td>
  </tr></table>
  
</form>
<button mat-raised-button color="primary" >保存</button>
