<div  class="board-performent">
    <essence-ng2-print 
        [mode]="'popup'"  
        [popTitle]="'条形码打印'" 
        [btnText]="'打印表格'" 
        [btnClass]="{'mat-raised-button': true}" 
        [printHTML]="print_div" 
        [printStyle]="printStyle" 
        [printCSS]="printCSS" 
        [showBtn]="true" 
        (click)="beforePrint()" 
        (printComplete)="printComplete()">
    </essence-ng2-print>
  <div class="print_content" #print_div >
      <!--
          将你需要打印的内容都放在这里
      -->
 
        <div class="print_item" *ngFor = "let info of order_detail.parm.infos" >
            <p class='lab'>
                {{info.product_name}} 
                {{info.name}} 
                {{info.phone.slice(0,3)}}***{{info.phone.slice(-4)}}
            </p>
            <img >
        </div>

       


        

  </div>
  
   
</div>
