<div class="login-content" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="login-card">
    <div style="width:80%;margin:auto;">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" >
          <img class="title" src="img/adb.png"/>
          <!-- <h1 class="title">AdibioShop Manager</h1> -->
          <mat-form-field hintLabel="">
            
            <input name="user" (input)="Input($event)" matInput #input maxlength="40" placeholder="账号">
            <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
          </mat-form-field>
          <mat-form-field>
  
            <input name='passWord' (keyup)="KeyUp($event)" (input)="Input($event)" matInput placeholder="密码" [type]="hide ? 'password' : 'text'">
            <mat-icon  matSuffix  (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="space-between center" >
              <button fxFlex="40" mat-raised-button color="primary" (click)="Login($event)" >登录</button>
              <button fxFlex="40" mat-button color="primary">忘记密码</button>
          </div>
        </div>
    </div>
  </mat-card>
  
</div>

