<!-- <mat-card  class="board-performent">
  <mat-tab-group>
    <mat-tab label="糖尿病早期检测"  >
      <div class="tab-content" >
        <product-detail></product-detail>
      </div>
    </mat-tab>
    <mat-tab label="肾病早期检测" class="tab-content" >
      <div class="tab-content" >
        <product-detail></product-detail>
      </div>
    </mat-tab>
    <mat-tab label="中风早期检测" class="tab-content">
      <div class="tab-content" >
        <product-detail></product-detail>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card> -->

123
